{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}

{% block content %}
<link rel="stylesheet" href="{% static 'css\home.css' %}">
<div class="container">
   <div class="row justify-content-center">
     <div class="col-12 col-sm-8 col-lg-6">
       <!-- Section Heading-->
       <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
         <h3>home</h3>
         <div class="line"></div>
       </div>
     </div>
   </div>
   <div class="center-block">
     <!-- Single Advisor-->
     <div class="col-30 col-sm-30 col-lg-30">
       <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
         <!-- Team Thumb-->
         <div class="advisor_thumb"><img src="{{ user.avatar.url }}" alt="">
         <!-- Team Details-->
         <div class="single_advisor_details_info">
           <h6>{{user.nickname}}</h6>
           <p class="designation">{{user.email}}</p>
         </div>
       </div>
     </div>
   </div>
</div>
{% endblock %}